<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="sidebar-list">
          <li class="sidebar-item"><%= link_to "Edit Profile", edit_user_registration_path, class: "sidebar-link" %></li>
          <li class="sidebar-item"><%= link_to "Payment Method", payment_method_path, class: "sidebar-link" %></li>
          <!--<li class="sidebar-item"><%= link_to "Payout Method", payout_method_path, class: "sidebar-link" %></li>-->
          <li class="sidebar-item"><%= link_to "Security", change_password_path, class: "sidebar-link active" %></li>
          <li class="sidebar-item"><%= link_to "Notification Settings", notification_settings_path, class: "sidebar-link" %></li>
        </ul>
      </div>
      <div class="mt-4 col-md-9">
        <div class="card">
          <div class="card-body pb-4 px-4 pt-2">
            <div class="row justify-content-between align-items-center mb-4">
              <div class="col-md-5 order-md-2 text-md-right mb-3 mb-md-0"></div>
              <div class="col-md-7 order-md-1">
                <ul id="pills-tab" role="tablist" class="nav nav-classic nav-borderless px-0">
                  <li class="nav-item">
                    <a id="pills-security-one-tab" data-toggle="pill" href="#pills-security-one" role="tab" aria-controls="pills-security-one" aria-selected="true" class="nav-link active pwd">Passwords</a>
                  </li>
                </ul>
              </div>
            </div>
            <%= form_for(resource, as: resource_name, url: changed_password_path(resource_name), html: {method: :put}) do |f| %>
                <div id="pills-tabContent" class="tab-content col-lg-12">
                  <div id="pills-security-one" role="tabpanel" aria-labelledby="pills-security-one-tab" class="tab-pane fade show active">
                    <div class="js-form-message mb-3">
                      <label class="form-label">Current password</label>
                      <div class="form-group">
                        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="js-form-message mb-3">
                        <label class="form-label">New password</label>
                        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                      </div>
                    </div>
                    <div class="js-form-message mb-3">
                      <label class="form-label">Confirm password</label>
                      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                    </div>
                    <div class="w-lg-50">
                      <%= f.submit "Change password", class: "btn btn-primary mr-1" %>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .active.nav-link.pwd  {
    color: #002776;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid
    #002776;
  }
</style>