<p>
  you requested to book a gig at  <%= @booking.venue.listing_name %> on  <%= @booking.date.strftime('%d %b, %Y') %> at  <%= @booking.start_time.strftime('%I:%M %p') %>-<%= @booking.end_time.strftime('%I:%M %p') %>. Check them out and book them on <a href="<%= root_url %>">Scatterwave</a>!
</p>